@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    border: 1px dashed black; 
    box-sizing: border-box;
    font-family: 'Press Start 2P';
    padding: 0;
    margin: 0;

}

.logo{
    display: block;
    text-align: center;
    padding-top: 0%;
}

.logo-image{
    width: 600px;
}


main{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.heartIcon{
    width: 30px;
    height: 30px;
}

.chat{
    display: none;
    flex-direction: column;
    align-self: center;
    padding: 30px;
}

.chat-window{
    width: 600px;
    height: 400px;
    padding-bottom: 20px;
    position: relative;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-flow: column;
    flex-direction: column-reverse;
    background: rgb(175, 175, 175);
    background-image: url("/resources/wallpaper_sphere.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    transition: .1s ease-out;
    overflow: auto;
    padding: 10px;
}

/* .messages{
    display: inline-block;
} */

.msg-name{
    font-weight: 200;
    color: rgb(0, 0, 0);
}

.msg, .my-msg{
    padding: 10px;
    background: rgb(223, 239, 250);
    color: rgb(75, 75, 75);
    border-radius: 10px;
    max-width: 70%;
}

.msg{
    
    word-wrap: break-word;
    
    float: left;
    
}

.my-msg{
    word-wrap: break-word;
    /* transform: translateX(40%); */
    float: right;
}

.messageForm{
    display: flex;
    justify-content: end;
    width: 100%;
}

.chat-msg-field{
    text-align: left;
    width: 80%;
    height: 40px;
    padding: 10px;
}

.chat-send-button{
    text-align: center;
    width: 20%;
}

.landing{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-basis: auto;
    align-self: center;
}

.landing-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
}

.gameTable{
    display: none;
    flex-direction: column;
    flex-basis: auto;
    align-self: center;
    width: 600px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
    border-radius: 10px 10px 0 0;

    
}

.gameTable--Header{
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(83, 83, 83);
    color: white;
    padding: 10px;
}

canvas{
    background: #eee;
    background-image: url("/resources/table.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

button{
    padding: 5px;
    cursor: pointer; 
}

button:hover {
    transform:scale(1.1,1.1);
    -webkit-transform:scale(1.1,1.1);
    -moz-transform:scale(1.1,1.1);
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    /* font-family: 'Press Start 2P'; */
    color: red;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 60%; /* Could be more or less, depending on screen size */
    text-align: center;
    font-size: 50px
  }
  